<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <directoryBrowse enabled="true" />
        
    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
            
        <handlers>
                <add name="FastcgiModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python310\Scripts\wfastcgi.exe" resourceType="Unspecified" />
                </handlers>
        </system.webServer>

    </location>
<appSettings>
        
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\hcm.ariespro.com" />

        <add key="WSGI_HANDLER" value="globalworkforcemanagement.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="globalworkforcemanagement.settings" />
        
        
    </appSettings>
    
</configuration>
