
{% extends 'Admin_header.html' %}
{% block user %}Welcome, {{request.session.name}}{% endblock %}
{% block style %} 
<title>WFM :: EMPLOYEE NOTIFICATION</title>

<style>
    .notification-details{
        overflow: auto;
        height: 500px;
    }
    .top-nav-search .btn{
        top: 12%
    }

    .form-control {
        height: 40px;
    }

    .color-change::placeholder {
        color: #09697b;
        font-style: italic;
    }
    .card-header {
  background: none;
  padding: 0.7rem;
  border-bottom: 1px solid #ededed;
}
.card-title {
  color: #333;
  position: relative;
  left: 10px;
}
    .btn.btn-theme.button-1.ctm-border-radius.text-white.float-right {
  height: 33px;
  font-size: 13px;
  border-bottom: none !important;
}
@media only screen and (max-width: 991px){
    #showsidebar,
    #fullscreen {
        display: none;
    }
    .card.ctm-border-radius.shadow-sm {
        position: relative;
        top: 30px;
    }
    .card {
        border: 1px solid #ededed;
        margin-bottom: 13px;
        border-radius: 10px;
    }
    .lowerfooter {
        position: relative;
        top: 25px;
        margin-bottom: 35px !important;
    }
}
    @media only screen and (max-width: 480px){
        .card.ctm-border-radius.shadow-sm {
            position: relative;
            top: 0px;
        }
    }
</style>
{% endblock style %}
{% block addr %}Notification{% endblock addr %}
{% block body %}
<div class="col-xl-9 col-lg-8  col-md-12 empnoti">
    <form method="post">
        {%csrf_token%}
        <div class="card shadow-sm ctm-border-radius grow">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h4 class="card-title mb-0 d-inline-block">Notifications</h4>
                <button name="clear" class="btn btn-theme button-1 ctm-border-radius text-white float-right">
                    Clear All</button>
            </div>
            <div class="card-body align-center">
                <div class="notification-details">
                    {%for notification in notifications%}
                    <div class="sec new">
                        <div class="profCont">
                            <img class="profile" src="../static/img/profiles/img-2.jpg">
                        </div>
                        <div class="txt">{{notification.message}}</div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        // $("vj1").hide();
        $("#fullscreen").click(function () {
            $("#sidebarid").hide();
            $(".empnoti").css({ "max-width": "100%", "flex": "0 0 100%" });
            $(this).hide();
            $("#showsidebar").show();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#showsidebar").hide();
        $("#showsidebar").click(function () {
            $("#sidebarid").show();
            if($(window).width() > 991 && $(window).width() < 1200){
                $(".empnoti").css({ "max-width": "66%", "flex": "0 0 66%" });
            }
            else{
                $(".empnoti").css({ "max-width": "75%", "flex": "0 0 75%" });
            }
            $(this).hide();
            $("#fullscreen").show();
        });
    });
</script>
{% endblock body %}
