{% extends 'Admin_header.html' %}
{% block addr %}Dashboard {% endblock addr %}
{% block user %}Welcome, {{request.session.name}}{% endblock user %}
{% block style %}

<!-- Admin_headers.html -->


    <style>
        /* Add your CSS styles here */

        #submit_btn{margin-left: 17px;}

        label {
  margin-left: 18px;
}
        #password-generator {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        #password {
            flex: 1;
            margin-right: 10px;
        }
        #generate-password-btn {
            margin-right: 10px;
        }
        .form-control {
        height: calc(1.2em + .75rem + 2px) !important;
    }

    .dataTables_wrapper .row:nth-child(2) {
        width: 100%;
    }

    .dataTables_length label,
    .dataTables_filter label {
        display: flex;
    }

    .top-nav-search .btn {
        top: 12%
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #09796b !important;
        color: white;
    }

    span.select2.select2-container.select2-container--default {
        line-height: 1.5;
        border: 1px solid #767676;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        width: 100% !important;
        background-color: #fff;
        display: -webkit-box;
    }

    .select2-container--default .select2-selection--single {
        border: unset;
        width: 100%;
    }

    .flexboxSpan {
        display: block;
        padding: 0 5px;
        text-align: left;
    }

    select#managerName {
        border-radius: 2px;
        height: 32px;
        font-size: 15px;
        border: 1px solid #666;
    }

    /* .table-responsive.hrProjects {
        height: 440px;
    } */

    a.adminProjectsColor {
        background: #09796b;
        color: #fff !important;
    }

    a.adminProjectsColor:hover {
        background: #09796b;
        color: #fff !important;
    }

    .employee-office-table .table input {
        width: 100%;
    }

    .tdcolor:hover {
        background-color: rgb(219, 214, 214) !important;
    }

    .thcolor:hover {
        background-color: white !important;
    }

    .drkclick {
        background-color: rgb(202, 178, 178) !important;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        height: 488px;
    }

    .projectmodal {
        width: 100%;
        height: 35vh;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
    }

    .popupheading {
        position: relative;
        right: 95px;
    }

    .card-header {
        background: none;
        padding: 0.7rem;
        border-bottom: 1px solid #ededed;
    }

    .card-title {
        color: #333;
        position: relative;
        left: 10px;
    }

    .pageinationAdj {
        position: relative;
        top: 0px;
    }

    .btn.btn-theme.button-1.ctm-border-radius.text-white.float-right {
        border-bottom: none !important;
        position: relative;
        right: 10px;
        height: 33px;
        font-size: 13px;
    }
    .nameclick {
        color: rgb(49, 46, 46);
        background-color: white;
        border-style: none;
        width: auto;
        border-radius: 7px;
    }
    .nameclick:hover {
        color: black;
        background-color: white;
        border-style: none;
        width: auto;
        /* font-weight: 550; */
    }
    .my_list_board.adminProjectsColor.text-dark.p-4.ctm-border-right.ctm-border-left.last-slider-btn {
        border-radius: 0px 0px 0px 0px;
    }
    @media only screen and (max-width: 1199px){
        .card-title.mb-0.d-inline-block {
            font-size: 18px;
            font-weight: 600;
        }
        label, .thcolor {
            font-size: 13px;
        }
        .form-control {
            height: calc(1.1em + .75rem + 2px) !important;
            font-size: 13px;
        }
        .tdcolor.odd, .tdcolor.even, .pagination {
            font-size: 12px;
        }
        #myTable1_info {
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 991px){
        #showsidebar,
        #fullscreen {
            display: none;
        }
        .card.ctm-border-radius.shadow-sm {
            position: relative;
            top: 30px;
        }
        .card {
            border: 1px solid #ededed;
            margin-bottom: 13px;
            border-radius: 10px;
        }
        .lowerfooter {
            position: relative;
            top: 25px;
            margin-bottom: 35px !important;
        }
        .modal-content {
            position: relative;
            width: 70%;
            left: 20%;
        }
    }
    
    @media only screen and (max-width: 767px){
        .pageinationAdj {
            display: flow-root;
        }
        .popupheading {
            position: relative;
            left: 0px;
            font-size: 13px;
        }
        .projectmodal {
            position: relative;
            width: 60%;
            left: 20%;
        }
    }
    @media only screen and (max-width: 581px){
        .modal-content {
            position: relative;
            width: 98%;
            left: 1%;
        }
  
    }
    .card.shadow-sm.ctm-border-radius.grow {
        border-bottom-width: 416px;
        }
    @media only screen and (max-width: 480px){
        .pageinationAdj {
            display: inline-block;
        }
        .card.ctm-border-radius.shadow-sm {
            position: relative;
            top: 0px;
        }
        .table.custom-table.table-hover {
            display: grid;
        }
    }


    #password {
  flex: 1;
  margin-right: 10px;
  max-width: 399px;
  margin-left: 55px;
}


#confirm_password {
  flex: 1;
  margin-right: 10px;
  max-width: 399px;
  margin-left: 30px;
}


#generated-password {
  flex: 1;
  margin-right: 10px;
  max-width: 399px;
  margin-left: 16px;
}
    </style>





{% endblock style %}

{% block body %}

<div class="col-xl-9 col-lg-8  col-md-12 adminproject">
    <div class="card shadow-sm ctm-border-radius grow">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h4 class="card-title mb-0 d-inline-block">Password Reset</h4>
            
        </div>
        <div id="password-reset-form">
            <h2></h2>
            <form method="post">
                {% csrf_token %}
                
                <!-- Password Input Field -->
                <div>
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="toggle-password-visibility">👁️</button>
                </div>
                
                <!-- Confirm Password Input Field -->
                <div>
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                    <button type="button" id="toggle-confirm-password-visibility">👁️</button>
                </div>
                
                <!-- Password Generator -->
                <div id="password-generator">
                    <label for="generated-password">Generated Password:</label>
                    <input type="text" id="generated-password" readonly>
                    <button type="button" id="generate-password-btn">Generate Password</button>
                    <button type="button" id="copy-password-btn">Copy Password</button>
                    
                </div>
                <div id="password-generator-buttons">
                    
                    
                </div>
                
                <!-- Submit Button -->
                <button class="submit_btn" type="submit">Reset Password</button>
            </form>
        </div>
    </div>

   
</div>

   
    
    <script>
        // JavaScript for password generation and copy functionality
        const generatePasswordBtn = document.getElementById('generate-password-btn');
        const copyPasswordBtn = document.getElementById('copy-password-btn');
        const generatedPasswordInput = document.getElementById('generated-password');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirm_password');
        const togglePasswordVisibilityBtn = document.getElementById('toggle-password-visibility');
        const toggleConfirmPasswordVisibilityBtn = document.getElementById('toggle-confirm-password-visibility');

    
        generatePasswordBtn.addEventListener('click', () => {
            const generatedPassword = generatePassword();
            generatedPasswordInput.value = generatedPassword;
            passwordInput.value = generatedPassword; // Auto-fill password input
        });
    
        copyPasswordBtn.addEventListener('click', () => {
            generatedPasswordInput.select();
            document.execCommand('copy');
            alert('Password copied to clipboard!');
        });


        
    togglePasswordVisibilityBtn.addEventListener('click', () => {
        togglePasswordVisibility(passwordInput,togglePasswordVisibilityBtn);
    });

    toggleConfirmPasswordVisibilityBtn.addEventListener('click', () => {
        togglePasswordVisibility(confirmPasswordInput,toggleConfirmPasswordVisibilityBtn);
    });

    // Function to toggle password visibility
    function togglePasswordVisibility(inputElement,togglePasswordVisibilityBtn_) {
        const type = inputElement.getAttribute('type') === 'password' ? 'text' : 'password';
        inputElement.setAttribute('type', type);
        togglePasswordVisibilityBtn_.textContent = type === 'password' ? '👁️' : '👁️';
    }
    
        // Function to generate a random password
        function generatePassword() {
            const length = 12;
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*_";
            let password = "";
            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            return password;
        }
    </script>
    
    <script>
        $(document).ready(function () {
            // $("vj1").hide();
            $("#fullscreen").click(function () {
                $("#sidebarid").hide();
                $(".dashboardbody").css({ "max-width": "100%", "flex": "0 0 100%" });
                $(this).hide();
                $("#showsidebar").show();
                $("#raj").css({ "margin-left": "140px" });
            });
        });
    </script>
    
    <script>
        $(document).ready(function () {
            $("#showsidebar").hide();
            $("#showsidebar").click(function () {
                $("#sidebarid").show();
                if($(window).width() > 991 && $(window).width() < 1200){
                    $(".dashboardbody").css({ "max-width": "66%", "flex": "0 0 66%" });
                }
                else{
                    $(".dashboardbody").css({ "max-width": "75%", "flex": "0 0 75%" });
                }
                $(this).hide();
                $("#fullscreen").show();
                $("#raj").css({ "margin-left": "0px" });
            });
        });
    </script>

    

{% endblock body %}