<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form id="post-form">
        {%csrf_token%}

        <p>abscent </p>
        <input id="abscent" name="abscent">
        <p>halfday </p>
        <input id="halfday" name="halfday">
        <p>holiday </p>
        <input id="holiday" name="holiday">
        <input type="submit">



    </form>
</body>


</html>